* {
  font-family: 'Catamaran';
  box-sizing: border-box;
  font-style: normal;
}
body {
  width: 90%;
  margin: auto;
  background: #cfd4e6;
}

.div_title {
  text-align: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
.title {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;

  color: #000000;
}

.colors_list ul {
  position: relative;
  width: auto;
  max-width: 1000px;
  text-align: center;
  justify-content: center;
  margin: auto;
  display: grid;
  grid: auto-flow / 1fr 1fr;
  gap: 10px;
  flex-wrap: wrap;
}

.colors_list ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 30px;
  padding: 0px;
  width: 150px;
  height: 270px;
  background: #ffffff;
  border-radius: 10px;
  transition: opacity 0.5s ease-out;
}
.colors_list ul .drag_animation {
  opacity: 0;
  background-color: #eaeaea;
}

.removed {
  opacity: 0;
}

.color_container {
  background-color: #ffffff;
  width: auto;
  height: auto;
  margin-top: 10px;
}
.color_button {
  padding: 0;
}
li .color_container button {
  border-radius: 10px;
}
.color {
  margin: auto;
  width: 140px;
  height: 165px;
  border-radius: 10px;
}

li .color_container button p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
li .function_buttons {
  justify-content: center;
  align-items: center;
  margin: auto;
}

li .function_buttons .lock {
  margin-top: 10px;
  position: relative;
  margin-right: 7px;
}
/*switching the lock style icon*/
.lock :first-child {
  display: block;
}

.lock :last-child {
  display: none;
}

.lock:hover :first-child {
  display: none;
}

.lock:hover :last-child {
  display: block;
}

.lock--closed {
  background-color: #aab2cd;
  border-radius: 20px;
}

.lock--closed :first-child {
  display: none;
}

.lock--closed :last-child {
  display: block;
}

.lock--closed:hover :first-child {
  display: block;
}

.lock--closed:hover :last-child {
  display: none;
}
/*switching the lock style icon*/

img {
  width: 25px;
  height: 35px;
  transition: opacity 1s ease-in-out;
}
.lock .inactive_img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

li .function_buttons #delete_button {
  margin-top: 10px;
  position: relative;
  margin-right: 6px;
}
li .function_buttons input[type='color'] {
  width: 30px;
  height: 30px;

  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
}

body ul li .extra_color {
  margin: auto 20px;
}
body ul li .extra_color img {
  width: 110px;
  height: 110px;
}

.page_button {
  text-align: center;
  justify-content: center;
  margin-top: 70px;
}
.button_style {
  display: block;
  background: rgba(19, 0, 238, 0.4);
  border-radius: 10px;
  width: 311px;
  height: 63px;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  margin: auto;
  margin-top: 20px;
}
.page_button p {
  margin: 30px 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 39px;
  color: #000000;
}

.page_button p span {
  color: rgba(19, 0, 238, 0.78);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.page_button p span :hover {
  transform: scale(1.2);
}

body nav {
  width: 90%;
  margin: auto;
  position: fixed;
  top: 10px;
  transition: 0.3s;
  z-index: 2;
}

body nav ul {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

nav ul li {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  border-radius: 10px;
  min-width: 75px;
  max-width: 100%;
}

@media only screen and (max-width: 1050px) and (min-width: 550px) {
  .colors_list ul {
    grid: auto-flow / 1fr 1fr 1fr;
  }
  nav ul li {
    min-width: 100px;
  }
}
@media only screen and (min-width: 800px) {
  nav ul li {
    min-width: 140px;
  }
}

@media only screen and (min-width: 1051px) {
  .div_title {
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .colors_list ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
  }
  nav {
    display: none;
  }
}
